#hero{

    height: 90vh;
    width: 100%;
    overflow: hidden;

    @include xl{
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 1440px auto;
    }
    
    >div{
        display: flex;
        justify-items: center;
        height: 100%;
        align-items: center;
        background-image: url('../img/Hero.png') ;
        background-position: center;
        background-size: cover;
        justify-content: center;

        @include xl{
            grid-area: hero;
        }
    }

    #hero-content{
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: rem-calc(80);
            color: white;
            font-family: "Nunito Sans";
            font-weight: 900;
            line-height: 10px;
            letter-spacing: 5pt;
            margin-top: 50px;

            @include sm{
                font-size: rem-calc(20);
            }
            @include md{
                font-size: rem-calc(20);
            }
            @include lg{
                font-size: rem-calc(20);
            }
        }

        h2{
            font-size: rem-calc(80);
            font-family: "Nunito Sans";
            font-weight: 300;
            letter-spacing: 2.2pt;
            line-height: 10px;

            @include sm{
                font-size: rem-calc(20);
            }
            @include md{
                font-size: rem-calc(20);
            }
            @include lg{
                font-size: rem-calc(20);
            }
        }

        button{
            color: #2d8973;
            font-weight: 900;
            letter-spacing: 2.2pt;
            background-color: white;
            padding: 8px;
            border-radius: 32px;
            border-style: none;
            width: 200px;
            margin-top: 20px;
        }
    } 
}
