#section-1{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: #2d8973;
        font-family: "Nunito Sans";
        font-weight: 900;
        line-height: 10px;
        letter-spacing: 5pt;
        
    }
}

